<!doctype html>
<html>
   <head>
   <title>Add question:</title>
   </head>
   <body>
       
    <h1> question: </h1>
    <form method="POST">
    <label>question:</label>
    <input type="text" name="question" placeholder="Enter question here">
    </br>
    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a:</label>
    <input type="text" name="choice1" placeholder="Enter the first choice here">
    </br>
    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b:</label>
    <input type="text" name="choice2" placeholder="Enter the second choice here">
    </br>
    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c:</label>
    <input type="text" name="choice3" placeholder="Enter the third choice here">
    </br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" >submit</button>

</form>
      
      
      
      
   </body>
   </html>
