<!doctype html>
<html>
   <head>
   <title>Hello page</title>
   </head>
   <body>
       
      <h1> Welcome! </h1>
      <form action="All_courses">
         <input type="submit" value="view all courses" />
      </form>
      </br>
      </br>
      </br>
      <form action="All_surveys">
         <input type="submit" value="view all surveys" />
      </form>
      </br>
      </br>
      </br>
      <form action="All_questions">
         <input type="submit" value="view all questions" />
      </form>
      </br>
      </br>
      </br>
      
      
      
      
      
      <form action="Add_course">
         <input type="submit" value="add course here" />
      </form>
      </br>
      </br>
      </br>
      <form action="Add_survey">
         <input type="submit" value="create a survey" />
      </form>
      </br>
      </br>
      </br>
      <form action="Add_question">
         <input type="submit" value="add a question" />
      </form>
      </br>
      </br>
      </br>
      
      
   </body>
   </html>
